<% include ../partials/header.ejs %>

<h1 class="text-center my-3">
  Add a new comment to <%= dish.name %>
</h1>

<div class="container text-center col-9 col-sm-8 col-md-6 col-lg-5 col-xl-4">
  <form action="/dishes/<%= dish._id %>/comments" method="post">
    <div class="form-group">
      <textarea class="form-control" name="comment[text]" rows="8" required>
      </textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block w-50 mx-auto" type="submit">
        Submit comment
      </button>
    </div>
  </form>
</div>

<% include ../partials/footer.ejs %>