<header class="jumbotron"> 
        <h1 class="display-3" >Dish Log - Cracow's food expert</h1>
        <h4  class="lead text-center">View dishes from restaurants and cafes in Cracow.</h4>
        <h4  class="lead text-center">Read ratings, compare prices, add your own.</h4>
        <div>
          <!-- Remember about root slash in href -->
          <a class="btn btn-info btn-sm m-1" href="/dishes/new">Add new dish</a
          ><br />
          <a class="btn btn-info btn-sm m-1"" href="/foodplaces/new"
            >Add new food place</a
          >
          </div>
      </header>