<% include partials/header.ejs %>

<div class="container">
  <header class="jumbotron">
    <h1>Welcome to Expresscamp!</h1>
    <p>View our handpicked campgrounds from the whole world</p>
    <p>
      <!-- Remember about root slash in href -->
      <a class="btn btn-primary btn-sm" href="/campgrounds/new"
        >Add new campground</a
      >
    </p>
  </header>

  <div class="row">
    <% campgrounds.forEach((camp) =>{ %>
    <figure class="figure col-sm-6 col-md-3">
      <img class="img-thumbnail img-fluid" src="<%= camp.image %>" />
      <figcaption class="figure-caption text-center">
        <h4><%= camp.name %></h4>
      </figcaption>
      <div class="text-center">
        <a class="btn btn-primary btn-sm" href="/campgrounds/<%= camp.id %>"
          >Details</a
        >
      </div>
    </figure>
    <% }) %>
  </div>
</div>

<% include partials/footer.ejs %>
