<% include partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to Expresscamp!</h1>
        <p>View our handpicked campgrounds from the whole world</p>
        <p><a class="btn btn-primary btn-sm" href="/campgrounds/new">Add new campground</a></p>
    </header>

    <div class="row">
        <% campgrounds.forEach((camp) =>{ %>
        <figure class="figure col-sm-6 col-md-3">
            <img class="img-thumbnail img-fluid" src="<%= camp.image %>">
            <figcaption class="figure-caption text-center"><%= camp.name %> </figcaption>
        </figure>
        <% }) %>
    </div>
</div>

<% include partials/footer.ejs %>