<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
</head>
</head>

<body>
    <div id="mapContainer">
    </div>

    <!-- 
+++++ create map
- create Marker
- create Bubble
- read info(lat/long/address) from campground
- add to Bubble content
- add Listener to Marker to open Bubble on click -->

    <script>

        // Initialize the platform object:
        const platform = new H.service.Platform({
            'apikey': '<%= process.env.GOOGLE_MAPS_APIKEY %>'
        });

        // Obtain the default map types from the platform object
        var defaultLayers = platform.createDefaultLayers();

        // Instantiate (and display) a map object:
        var map = new H.Map(
            document.getElementById('mapContainer'),
            defaultLayers.vector.normal.map,
            {
                zoom: 10,
                center: { lat: 50.00, lng: 20.00 }
                /*  center: { lat: 50.05, lng: 19.94 }   */
            });
    </script>

</body>

</html>