<% include partials/header.ejs %>

<h1><%= title %></h1>
<div class="container-fluid">
  <p id="welcome"></p>
  <p>... to landing page</p>
</div>

<a href="/campgrounds">Show campgrounds</a> <br>
<a href="/campgrounds/new">Add new campground</a>

<% include partials/footer.ejs %>