<% include partials/header.ejs %>

<h1><%= title %></h1>
<div class="container-fluid">
  <a href="/campgrounds">Show campgrounds</a> <br />
  <a href="/campgrounds/new">Add new campground</a>
</div>

<% include partials/footer.ejs %>
