<h1>Add a campground</h1>

<a href="/">Home</a><br><br>

<form action="/campgrounds" method="post">
    <input type="text" name="name" placeholder="name">
    <button type="submit">Add campground</button>
</form>