.jumbotron {
  background-image: url('https://cdn.pixabay.com/photo/2017/03/15/01/40/krakow-2144879_960_720.jpg');
  background-size: cover;
}

/* https://mycolor.space/?hex=%23715235&sub=1  */
.jumbotron h1 {
  color: #ee7353;
}

.jumbotron h4 {
  color: #f1962e;
}

#dish-index img,
#foodplace-dishes img {
  object-fit: cover;
  max-height: 201px;
}

#dish-show img,
#foodplace-show img {
  object-fit: cover;
  max-height: 470px;
}

.dish-card {
  min-height: 480px;
  min-width: 330px;
}

.inner-dish-card {
  position: relative;
  height: 170px;
}

.dish-description-button {
  height: 95px;
}

.btn-details {
  height: 25px;
}

#map {
  width: 100%;
  height: 450px;
  background: grey;
}

.checked {
  color: orange;
}
